[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
textual = "*"
geopy = "*"
quote = "*"
timezonefinder = "*"

[dev-packages]
textual-dev = "*"

[requires]
python_version = "3.14"
